@using LawOffice.MvcWebUI.Areas.Admin.ViewModels.FieldsOfLaw
@model IndexViewModel

@{
    ViewBag.Title = "Hukuk Alanları";
}


<div class="row">
    <div class="col-md-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Hukuk Alanları</h6>
            </div>


            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dtFieldsOfLaw" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Hukuk Alanı Adı</th>
                                <th style="width:20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FieldsOfLaw)
                            {
                                <tr>
                                    <td>@item.Name</td>

                                    <td class="text-center">
                                        <a href="@Url.Action("Details","FieldsOfLaw",new { id=item.Id})" class="btn btn-primary btn-circle btn-sm" title="Detaylar">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                        <a href="@Url.Action("Edit","FieldsOfLaw",new { id=item.Id})" class="btn btn-secondary btn-circle btn-sm" title="Düzenle">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="@Url.Action("Delete","FieldsOfLaw",new { id=item.Id})" class="btn btn-danger btn-circle btn-sm" title="Sil">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>


                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


@section dataTable
{
    <script>
        $(document).ready(function () {
            $('#dtFieldsOfLaw').DataTable({
                "language":
                {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                }
            });
        });

    </script>
}